@font-face {
  font-family: dm-serife;
  src: url(../Assets/Fonts/DMSerifDisplay-Regular.ttf);
}
@font-face {
  font-family: onset;
  src: url(../Assets/Fonts/Onest/Onest-VariableFont_wght.ttf);
}
@font-face {
  font-family: serif-tibetan;
  src: url(../Assets/Fonts/Noto_Serif_Tibetan/NotoSerifTibetan-VariableFont_wght.ttf);
}
* {
  padding: 0;
  margin: 0;
  color: white;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
*::selection {
  color: cyan;
}
body {
  font-family: onset;
  min-height: 120vh;
  max-width: 100vw;
  overflow-x: hidden;
}
header {
  height: 120vh;
  width: 100vw;
  background-image: url(../Assets/IMG/Background.jpg);
  background-size: cover;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.navbar {
  position: absolute;
  padding: 40px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.navbar a {
  color: white;
}
#title {
  font-family: serif-tibetan;
  font-size: 2.3em;
  font-weight: bold;
  display: flex;
  margin-left: 20px;
  margin-top: 10px;
}
.nav-link ul {
  display: flex;
}
.nav-link ul li {
  margin: 0 25px;
  font-size: 1.5rem;
}
#burger {
  display: none;
  width: 50px;
  position: absolute;
  right: 50px;
  top: 45px;
}
#active {
  color: rgb(29, 255, 228);
  font-size: larger;
}
.presentation {
  position: absolute;
  top: 250px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 10px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  color: white;
  text-align: center;
  backdrop-filter: blur(10px);
  box-shadow: 1px 2px 20px rgb(0, 57, 202);
}
.nav-link ul li :hover {
  color: deepskyblue;
  text-shadow: 1px 2px 20px deepskyblue;
}
.presentation a {
  color: aqua;
}
.presentation h2 {
  padding-top: 10px;
}
.presentation p {
  padding-bottom: 20px;
}
.calculator {
  position: absolute;
  top: 430px;
  right: 50%;
  transform: translateX(47%);
  border: 1px solid rgb(0, 57, 202);
  border-radius: 10px;
  padding: 20px;
  background-image: linear-gradient(45deg, #d2001a, #7462ff, #f48e21, #23d5ab);
  background-size: 300% 300%;
  animation: color 12s ease-in-out infinite;
  box-shadow: 1px 2px 20px rgb(0, 57, 202);
}
@keyframes color {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
#display {
  width: 100%;
  height: 50px;
  font-size: 24px;
  text-align: right;
  margin-bottom: 10px;
  border: 1px solid #7462ff;
  color: black;
  border-radius: 5px;
  padding-right: 10px;
  box-sizing: border-box;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  width: 100%;
  height: 50px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background-color: white;
  color: black;
  cursor: pointer;
  transition: 0.2s;
}
button:active {
  background-color: darkgrey;
}
.text-app {
  color: white;
  position: absolute;
  top: 250px;
  text-align: center;
}
.text-app p {
  padding: 10px 55px;
  font-size: larger;
}
.back {
  position: relative;
  width: 95%;
  height: 525px;
  margin: 0 auto;
  top: 250px;
  backdrop-filter: blur(10px);
  box-shadow: 1px 2px 20px rgb(0, 57, 202);
  border-radius: 20px;
}
.contact {
  color: white;
  position: absolute;
  top: 300px;
  right: 20%;
  left: 20%;
  border-radius: 20px;
  text-align: center;
  backdrop-filter: blur(10px);
  box-shadow: 1px 2px 20px rgb(0, 57, 202);
}
.contact p {
  font-size: 1.2rem;
  padding: 10px;
}
.contact img {
  width: 70px;
  padding: 10px 10px;
}
.boxpop {
  height: 200px;
  width: 400px;
  background-color: darkcyan;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: -750px;
  transition: 2s;
  top: 400px;
  color: white;
  z-index: 100;
}
.boxpop p {
  padding: 10px;
  text-align: center;
}
.boxpop input {
  box-sizing: border-box;
  padding: 5px 10px;
  border-radius: 15px;
  border: none;
  transition: 0.3s;
}
.boxpop input[type="text"]:focus {
  border: none;
  outline: none;
  background-color: rgb(214, 212, 212);
}
#exite {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 7px;
  right: 7px;
  border: 2px solid white;
  border-radius: 20px;
  color: white;
  background-color: darkcyan;
}
.back2 {
  position: relative;
  width: 95%;
  height: 520px;
  margin: 30px auto;
  top: 250px;
  backdrop-filter: blur(10px);
  box-shadow: 1px 2px 20px rgb(0, 57, 202);
  border-radius: 20px;
}
.formulaire {
  position: absolute;
  top: 800px;
  width: 100%;
  padding: 30px;
  margin: 20px auto;
}
.formulaire h2 {
  text-align: center;
  padding-bottom: 50px;
}
.content {
  display: grid;
  grid-template-columns: 30% 70%;
}
.content img {
  width: 80%;
  padding-left: 10px;
}
form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "i1 i2"
    "ta ta"
    "vi bt";
}
#Nom {
  grid-area: i1;
  color: black;
  height: 40%;
  margin: 50px 10px 0 20px;
  padding: 15px;
  border-radius: 20px;
  font-size: 1.1rem;
  font-family: onset;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 1);
}
#Prénom {
  grid-area: i2;
  color: black;
  height: 40%;
  margin: 50px 20px 0 20px;
  padding: 15px;
  border-radius: 20px;
  font-size: 1.1rem;
  font-family: onset;
  border: none;
  outline: none;
  background-color: rgb(255, 255, 255);
}
#msg {
  grid-area: ta;
  color: black;
  margin: 10px 20px;
  padding: 10px;
  border-radius: 20px;
  font-size: 1.1rem;
  font-family: onset;
  resize: none;
  border: none;
  outline: none;
  background-color: rgb(255, 255, 255);
}
#valid {
  color: black;
  grid-area: bt;
  font-family: onset;
  text-align: center;
  font-weight: bold;
  height: 40%;
  width: 20%;
  justify-self: end;
  margin-top: 10px;
  margin-right: 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.2s;
}
#valid:hover {
  background: linear-gradient(45deg, cyan, blue);
  color: white;
}
.back3 {
  position: relative;
  width: 95%;
  height: 240px;
  margin: 30px auto;
  top: 250px;
  backdrop-filter: blur(10px);
  box-shadow: 1px 2px 20px rgb(0, 57, 202);
  border-radius: 20px;
}
.autreff {
  color: white;
  position: absolute;
  top: 1380px;
  text-align: center;
}
.autreff p {
  padding: 10px 55px;
  font-size: larger;
}
.autreff strong {
  color: gold;
}
.Dapp1{
  text-align: center;
  align-items: center;
  backdrop-filter: blur(10px);
  box-shadow: 1px 2px 20px rgb(0, 57, 202);
  position: absolute;
  width:95%;
  top: 250px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 40px;
  padding-top: 20px;
  margin-right:auto ;
  margin-left: 30px;
  margin-bottom: 20px;
  border-radius: 20px;
}
.Dapp1 button {
  width: 12%;
  height: 40px;
}
.Dapp1 button:hover {
  background: linear-gradient(45deg, cyan, blue);
  color: white;
}
.Dapp1 input {
  border: none;
  font-size: 1.1rem;
  height: 50px;
  width: 70%;
  margin: 30px;
  border-radius: 20px;
  color: black;
  padding: 20px;
  font-family: onset;
}
.Dapp1 input[type="text"]:focus {
  border: none;
  outline: none;
  background-color: rgb(248, 247, 247);
}
.newDiv  p {
  letter-spacing: -3px;
  color: aqua;
}
#titred {
  margin-bottom: 20px;
}
@media screen and (max-width: 1120px) {
  .navbar {
    padding: 0;
  }
  .nav-link {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.24);
    backdrop-filter: blur(7px);
    margin-left: -100%;
    transition: 0.5s;
    z-index: 1000;
  }
  .mobil-menu {
    margin-left: 0;
  }
  .nav-link ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #burger {
    display: block;
    padding-top: 5px;
    right: 30px;
    z-index: 1000;
  }
  .nav-link ul li {
    margin: 20px 0;
    font-size: 1.8rem;
  }
  #title {
    margin-left: 30px;
    margin-top: 40px;
  }
  #active {
    font-size: larger;
  }
  .calculator {
    top: 500px;
  }
  .back {
    height: 590px;
  }
  .boxpop {
    top: 380px;
  }
  .back2 {
    height: 500px;
  }
  .formulaire {
    top: 850px;
  }
  .autreff {
    top: 1400px;
  }
}
@media screen and (max-width: 1005px) {
  .back3 {
    height: 280px;
  }
}
@media screen and (max-width: 980px) {
  .Dapp1{
    margin-left: 20px;
  }
  .Dapp1 button {
    width: 20%;
  }
}
@media screen and (max-width: 910px) {
  .back2 {
    height: 800px;
  }
  .content {
    display: block;
  }
  .content img {
    width: 40%;
    margin: 0 auto;
    display: block;
  }
  .back3 {
    height: 280px;
  }
  .autreff {
    top: 1720px;
  }
}
@media screen and (max-width: 825px) {
  .back3 {
    height: 320px;
  }
}
@media screen and (max-width: 720px) {
  .back3 {
    height: 370px;
  }
  .newDiv  p {
    letter-spacing: -4px;
  }
}
@media screen and (max-width: 660px) {
  form {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "i1"
      "i2"
      "ta"
      "bt";
  }
  #Prénom {
    margin-top: 20px;
    margin-right: 10px;
  }
  #msg {
    margin-right: 10px;
  }
}
@media screen and (max-width: 640px) {
  .back3 {
    height: 410px;
  }
  .Dapp1{
    margin-left: 15px;
  }
}
@media screen and (max-width: 610px) {
  .Dapp1 button {
    width: 30%;
  }
}
@media screen and (max-width: 580px) {
  .back3 {
    height: 460px;
  }
  .boxpop {
    width: 300px;
  }
  .boxpop p {
    font-size: 0.8rem;
  }
  .newDiv p {
    letter-spacing: -5px;
  }
}

@media screen and (max-width: 530px) {
  .text-app {
    top: 265px;
  }
  .text-app p {
    font-size: 1rem;
  }
  .back3 {
    height: 400px;
  }
  .autreff p {
    font-size: 1rem;
    padding-right: 20px;
    padding-left: 20px;
  }
  .Dapp1{
    margin-left: 10px;
  }
}
@media screen and (max-width: 480px){
  .Dapp1 button {
    width: 40%;
  }
}
@media screen and (max-width: 425px) {
  .newDiv p {
    letter-spacing: -5.5px;
  }
}
@media screen and (max-width: 400px) {
  .text-app p {
    padding: 10px 20px;
  }
  .Dapp1 {
    margin-left: 8px;
  }
}
@media screen and (max-width: 390px) {
  .boxpop {
    width: 250px;
  }
  .boxpop p {
    font-size: 0.7rem;
  }
  .content img {
    margin-bottom: 50px;
  }
  form {
    grid-template-columns: 1fr;
    grid-template-areas:
      "i1"
      "i2"
      "ta"
      "bt";
  }

  #Nom,
  #Prénom,
  #msg {
    margin: 20px 20px 0px 0px;
    width: 100%;
  }

  #valid {
    display: block;
    margin: 40px auto;
    width: 100%;
    max-width: 200px;
  }
  .back3 {
    height: 350px;
  }
  .autreff p {
    font-size: 0.8rem;
  }
  .calculator {
    height: 230px;
    top: 570px;
  }
  button {
    height: 25px;
    font-size: 12px;
  }
  .Dapp1 input {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 360px) {
}
@media screen and (max-width: 330px) {
}
@media screen and (max-width: 300px) {
  .back3 {
    height: 450px;
  }
}
@media screen and (max-width: 500px) {
  #title {
    font-size: 1rem;
  }
  #burger {
    top: 43px;
    width: 20px;
  }
  .nav-link ul li {
    font-size: 1rem;
  }
  #active {
    font-size: larger;
  }
  .presentation {
    width: 80%;
    margin: 0 35px;
    font-size: 0.7rem;
  }
  .presentation h2 {
    font-size: 1rem;
  }
}
