@font-face {
  font-family: dm-serife;
  src: url(./Assets/Fonts/DMSerifDisplay-Regular.ttf);
}
@font-face {
  font-family: onset;
  src: url(./Assets/Fonts/Onest/Onest-VariableFont_wght.ttf);
}
*::selection {
  color: darkcyan;
}
body {
  font-family: onset;
}
body::after {
  content: "";
  background: url(./Assets/IMG/Background.jpg);
  opacity: 0.3;
  background-image: center;
  background-repeat: no-repeat;
  background-size: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  min-height: 100vh;
  position: fixed;
  z-index: -1;
}
